extends ../base.pug

block main
    main.container
        .me
            .me__left
                img(src='https://images.unsplash.com/photo-1468327768560-75b778cbb551?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80', alt='A Flower')
                div
                    span user#1
                    span user1@test.com
            .me__right
                div
                    h3 내가 쓴 글
                hr
                div
                    h3 내가 쓴 댓글
                hr