header.hero(role='banner')
    h1
        a(href='/') Flowery
nav
    div 
    div
    //- form(action="post")
        //- input(type="search" name="search" placeholder="search") 
    ul
        details.dropdown-menu(role='list', dir='rtl')
            summary(aria-haspopup='listbox', role='link') 메뉴
            ul(role='listbox')
                unless pk
                    li
                        a(href='/login') 로그인
                if pk
                    li
                        a(href='/write') 글쓰기
                    li
                        a(href='/me') 내 정보
                    li
                        a(href="/logout") 로그아웃